<template name="controlPanel">
    <div id="controlPanel">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title collapsable" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <a class="collapsable" role="button"  style="width:100%">
                                Control Panel
                            </a>
                        </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Target Keywords</label>
                            <ul id="targetsInput"></ul>
                            <p>
                                <input type="text" class="form-control" id="keywordInput" list="wordspace" placeholder="e.g. Visualization">
                                <datalist id ="wordspace"></datalist>
                            </p>
                            <button type="button" class="btn btn-default" id="keywordAdd">Add</button>
                            <button type="button" class="btn btn-default" id="keywordConfirm">Explore</button>
                            <button type="button" class="btn btn-default" id="keywordReset">Reset</button>
                        </div>
                        <div class="form-group">
                            <label>Legend</label>
                            <div>
                                <svg class="legendPanel"></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</template>