.node {
	opacity: 0.6;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

.set{
    opacity: 0.6;
}

/*#mainContainer {*/
    /*border: 2px solid #168ccc;*/
    /*padding: 0px;*/
/*}*/

.small {
    border: 2px solid #168ccc;
    padding: 0px;
    text-align: center;
}

#contourCanvas {
    height: 100%;
    position: relative;
}

/*#smallMultiple{*/
    /*width: 100%*/
/*}*/

.highlightedNodes{
    stroke:#666;
    stroke-width:2;
}

.graphlabel {
	font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;;
    cursor:default;
	opacity: 0.8;
	font-weight: lighter;
}
