<template name="contour">
    <div class="row">
        <div class="col-md-2">
            {{>controlPanel}}
        </div>

        <div class="col-md-10" id="mainContainer">
            <table id="smallMultiple" >
                <tr>
                    <th class="small" id = "entire">                        
						<div class="smallDIV"></div>
                        <p>entire graph</p>
					</th>
                    <th class="small" id = "T0">
                        <div class="smallDIV"></div>
                        <p>1990-1995</p>
                    </th>
                    <th class="small" id = "T1">
                        <div class="smallDIV"></div>
                        <p>1992-1997</p>
                    </th>
                    <th class="small" id = "T2">
                        <div class="smallDIV"></div>
                        <p>1994-1999</p></th>
                </tr>
                <tr>
				    <th class="small" id = "T3">
                        <div class="smallDIV"></div>
                        <p>1996-2001</p></th>
                    <th class="small" id = "T4">
                        <div class="smallDIV"></div>
                        <p>1998-2003</p>
                    </th>
                    <th class="small" id = "T5">
                        <div class="smallDIV"></div>
                        <p>2000-2005</p>
                    </th>
                    <th class="small" id = "T6">
                        <div class="smallDIV"></div>
                        <p>2002-2007</p>
                    </th>
                </tr>
                <tr>
					<th class="small" id = "T7">
                        <div class="smallDIV"></div>
                        <p>2004-2009</p>
					</th>
                    <th class="small" id = "T8">
                        <div class="smallDIV"></div>
                        <p>2006-2011</p>    
                    </th>
                    <th class="small" id = "T9">
                        <div class="smallDIV"></div>
                        <p>2008-2013</p>
                    </th>
                    <th class="small" id = "T10">
                        <div class="smallDIV"></div>
                        <p>2009-2014</p>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</template>